$primaryColor: #124926; 
$secondaryColor: #124926;
$accentColor: #095079;
$greyColor: #124926;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;